*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins',sans-serif;
}
body{
    display: flex;
    /* height:100%; */
    min-height:100vh;
    align-items: center;
    justify-content: center;
    background-color: #F07857;
}
.container{
    width:380px;
    background:white;
    border-radius: 5px;
    /* border:2px solid black; */

}
.heading{
    text-align: center;
    line-height:80px;
    /* border:2px solid black; */
    background-color: rgb(245, 142, 105);
    color:white;
    border-radius: 5px 5px 0 0;
    font-size:1rem;
    font-weight:600;
}
form{
    padding:30px 20px 25px 20px;
}
.form-details{
    height:45px;
    background:rgb(197, 172, 172);
    margin-bottom:15px;
    position:relative;
}
.form-details input{
    height:100%;
    width:100%;
    outline:none;
    padding-left: 60px;
    box-shadow: 1px 1px 1px 1px  white;
    border-radius: 5px;
}
.form-details i{
    position:absolute;
    width:47px;
    height:100%;
    color:white;
    font-size:18px;
    background-color: #F07857;
    border:1px solid #F07857;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 5px 0 0 5px;



    
}
button{
    height:100%;
    width:100%;
    border-radius:5px;
    outline:none;
    border:1px solid#F07857;
    background-color: #F07857;
    color:white;
    font-size: 15px;
    font-weight:500;

}
button a{
    font-size:15px;
    text-decoration: none;
    color:white;


}
.additional{
    display:flex;
    margin-top:40px;
    padding-left:70px;
   
   

}
.pass p{
    color:white;
}
